.landing-nav {
    /* background-color: rgba(255, 166, 0, 0.678) !important; */
    background-color: orange !important;
    /* background-color: linear-gradient(rgb(245, 208, 139) orange orange) !important; */
    width: 100%;
    z-index: 2;
    top: 0;
    position: fixed;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.137);
}

.landing-logo {
    margin-right: 5vw;
    margin-left: 5vw;
}

.landing-li {
    margin-right: 2vw;
}

.nav-link:hover,
.active {
    color: #fff !important;
}

.landing-right {
    align-items: center;
    margin-right: 5vw;
}

.landing-profile {
    border-radius: 50%;
    object-fit: cover;
}

.landing-profile_text_container {
    margin: 0 2vw 0 .4vw;
    align-items: center;
}

.landing-toggle {
    width: 40px;
    height: 20px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.landing-tIcon {
    color: rgb(184, 120, 3);
    margin-left: .2vw;
}

.landing-toggle_ball {
    width: 17px;
    height: 17px;
    background-color: #000;
    position: absolute;
    right: 0px;
    border-radius: 50%;
    cursor: pointer;
}

.landing-right a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.795);
}

.linkNav:hover {
    color: white;
}

/* light theme */
.nav-link.active,
.landing-profile_text.active,
.linkNav.active {
    color: white;
}

.nav-link.active:hover,
.landing-profile_text.active:hover {
    color: rgb(27, 25, 25) !important;
}

.landing-toggle.active {
    background-color: black;
}

.landing-toggle_ball.active {
    background-color: white;
    transform: translateX(-22px);
}